<div class="degrade">
  <div class="tempo">
    <img
      style="width: 3em; height: 3em"
      src="{{ assets }}/icon-time.png"
      alt=""
    />
    <p style="margin-left: 1em">
      Tempo de preparo <br />
      <b>{{ receita.preparo.tempo }}</b>
    </p>
  </div>
  <div class="resumo">
    <p style="font-size: large; color: aliceblue">
      <b> {{ receita.nome }} </b>
    </p>
    <p style="font-size: small; color: aliceblue">{{ receita.desc }}</p>
  </div>
  <img
    style="position: relative; z-index: -1"
    src="{{ receita.image.foto }}"
    alt=""
  />
</div>
<div class="cont">
  <span><b>Ingredientes</b></span>
  <div *ngFor="let ingrediente of receita.ingredientes">
    <label class="container"
      >{{ ingrediente }}
      <input type="checkbox" />
      <span class="checkmark"></span>
    </label>
  </div>
  <hr />
  <span><b>Modo de preparo</b></span>
  <div *ngFor="let passo of receita.preparo.passos; index as i">
    <label class="container"
      ><b>Passo: {{ i + 1 }}</b> <br />
      {{ passo }}
      <input type="checkbox" />
      <span class="checkmark"></span>
    </label>
  </div>
</div>
