<div class="body">
  <div class="card-body">
    <img class="logo" src="{{assets}}/logo-coco-bambu.png" alt="" />

    <form [formGroup]="formCredentials" action="/action_page.php" method="post">
      <div class="container">
        <input
          formControlName="user"
          name="user"
          type="text"
          placeholder="Nome do usuário"
          required
          id="user"
        />

        <input
          type="password"
          placeholder="Senha"
          formControlName="pass"
          name="pass"
          required
          id="pass"
        />

        <button (click)="validateLogin()" type="submit">Acessar</button>

      </div>
    </form>
  </div>
</div>
